* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 240px;
  background: #111;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li.active,
.sidebar li:hover {
  background: #333;
}

.sidebar button {
  margin-top: 30px;
  width: 100%;
}

.content {
  flex: 1;
  padding: 30px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

tr.visto {
    background-color: #d4edda; /* verde claro */
}

tr.visto td:first-child::before {
    content: "✅ ";
}

.filtros {
    margin: 10px 0;
}

select {
    padding: 4px 6px;
}

.categoria {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.categoria h2 {
  margin-top: 0;
}

.categoria table {
  width: 100%;
  border-collapse: collapse;
}

.categoria table th, 
.categoria table td {
  text-align: left;
  padding: 5px 10px;
}

tr.visto {
  background-color: #d4edda;
}
