* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #c90;
}

form {
    background: #fff;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
}

.categoria {
    margin-bottom: 20px;
}

.categoria h3 {
    margin-bottom: 4px;
    color: #333;
}

.categoria h2 {
    margin-bottom: 5px;
    color: #333;
}

label {
    display: block;
    margin-left: 10px;
}

button {
    display: block;
    margin: 30px auto 10px;
    padding: 10px 20px;
    background: #c90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    background: #eef;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 10px;
}

.youtube_simbolo {
    width: 15px;
}